body {
  background-color: #ffffff;
  color: #303133;
  font-size: 16px;
  line-height: 1.5;
}

figcaption, h3 {
  font-style: italic;
}

h1 {
  font-size: 150%;
  font-weight: 600;
}

nav {
  background-color: #C4C9D7;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #ffffff;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 36%;
}

.story-text {
  font-size: 20px
}
